[core]
	editor = nvim

[gpg]
	format = openpgp

[gpg "openpgp"]
	program = gpg

[init]
	defaultBranch = main

{{ if eq .chezmoi.osRelease.id "cachyos" -}}
[interactive]
	diffFilter = delta --color-only

[pager]
	blame = delta
	diff = delta
	log = delta
	show = delta

{{ end -}}
[pull]
	rebase = false

[user]
	email = contact@ken-g.dev
	name = KENG
